.is-poli{
    background-color: #6c1d45;
    color: aliceblue !important;
}
.is-poli a{
    color: aliceblue !important;
    transition: all ease 1.5s;
}
.is-poli a:hover{
    color: rgb(249, 242, 250) !important;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
}

img.inverse{
    filter: invert(1);
}

.menu-sticky {
    position: sticky;
    vertical-align: top;
    max-height: 90vh;
    overflow-y: auto;
    top: 0;
    bottom: 0;
  }